p
  label(for='name') Name 
p
  input(id='name' name='name' type='text' value=(inf ? inf.name : ''))
p
  label(for='color') Favorite Color
p
  input(id='color' name='color' type='text' value=(inf ? inf.color : ''))
p
  label(for='food') Favorite Food
p
  input(id='foor' name='food' type='text' value=(inf ? inf.food : ''))
p
  label(for='car') Favorite Car
p
  input(id='car' name='car' type='text' value=(inf ? inf.car : ''))
p
  input(type='submit' value='Submit')
