p
  label(for='type') Type 
p
  input(id='type' name='type' type='text' value=(plane ? plane.type : ''))
p
  label(for='size') Size 
p
  input(id='size' name='size' type='text' value=(plane ? plane.size : ''))
p
  input(type='submit' value='Submit')
