p
  label(for='name') Title
p
  input(id='name' name='name' type='text' value=(movie ? movie.name : ''))
p
  label(for='type') Type 
p
  input(id='type' name='type' type='text' value=(movie ? movie.type : ''))
p
  input(type='submit' value='Submit')
