p
  label(for='name') Fruit Name
p
  input(id='name' name='name' type='text' value=(fruit ? fruit.name : ''))
p
  label(for='color') Color
p
  input(id='color' name='color' type='text' value=(fruit ? fruit.color : ''))
p
  input(type='submit' value="Submit")
