body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: 2px solid blue;
  border-collapse: collapse;
}

th {
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  padding: 10px;
}

td {
  border-right: 1px solid blue;
  border-bottom: 1px solid blue;
  padding: 5px;
}
