body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: 1px solid black;
  border-collapse: collapse;

}

th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

td {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}
