extends ../layout

block content
  h1 My Favorite Books
  table
    thead
      tr
        th Title 
        th Author 
        th Published By 
    tbody
    if books
      for book in books
        tr
          td 
            a(href='/books/' + book._id + '/edit')=book.title
          td= book.author
          td= book.publicist
