extends ../layout

block content

  h1 Phones
  table
    thead
      tr 
        th Type
        th Year
        th Color
    tbody
    if phones
      for phone in phones 
        tr
          td 
            a(href='/phones/' + phone._id + '/edit')=phone.make
          td= phone.year 
          td= phone.color 
