extends ../layout

block content
  h1 Edit
  
  form(action='/food/' + food._id +'/update' method='post')
    include includes/form
  form(action='/food/' + food._id + '/delete' method='post')
    input(type='submit' value='Delete')
